@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Wotfard';
  src: url('../public/fonts/wotfard-light-webfont.eot');
  src: url('../public/fonts/wotfard-light-webfont.ttf') format('truetype'),
    url('../public/fonts/wotfard-light-webfont.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'Wotfard';
  src: url('../public/fonts/wotfard-regular-webfont.eot');
  src: url('../public/fonts/wotfard-regular-webfont.ttf') format('truetype'),
    url('../public/fonts/wotfard-regular-webfont.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Wotfard';
  src: url('../public/fonts/wotfard-semibold-webfont.eot');
  src: url('../public/fonts/wotfard-semibold-webfont.ttf') format('truetype'),
    url('../public/fonts/wotfard-semibold-webfont.woff2') format('woff2');
  font-weight: 700;
}
